<header class="pb-3 mb-5 border-bottom">
  <nav
    class="navbar navbar-expand-md fixed-top navbar-light d-flex justify-content-between"
  >
    <a class="navbar-brand" href="#">
      <img
        src="/assets/images/LogoLYW_2023-icon-removebg.png"
        alt="brand logo"
        width="50"
      />
    </a>
    <button
      class="navbar-toggler btn mx-4 btn-outline-dark nav-item"
      type="button"
      (click)="isMenuCollapsed = !isMenuCollapsed"
    >
      &#9776;
    </button>
    <div
      [ngbCollapse]="isMenuCollapsed"
      class="collapse navbar-collapse text-center"
    >
      <div class="btn-end">
        <a
          class="btn nav-item btn-outline-primary mx-3"
          href="/profile"
          id="btn-profile"
          >Perfil</a
        >
      </div>
    </div>
  </nav>
</header>
