<body style="background-color: #fee8e7">
  <div
    class="container h-100 d-flex justify-content-center alignt-items-center"
  >
    <div class="my-auto">
      <p class="h1">Forgot Password</p>

      <div class="img-container">
        <img src="/assets/images/LogoLYW_2023-removebg.png" alt="" />
      </div>

      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="email" style="margin-bottom: 1%; margin-top: 2%"
            >Email</label
          >
          <input
            id="email"
            class="form-control"
            type="email"
            placeholder="Enter your email"
            formControlName="email"
          />
          @if(form.get('email')?.invalid && form.get('email')?.touched){
          <small class="text-danger"
            >Email is required and must be valid.</small
          >
          }
        </div>

        @if(validateForm()){
        <button type="submit" class="btn btn-primary">Ingresar</button>
        }
      </form>

      <br />

      <small><a routerLink="/login">Go back</a></small>
    </div>
  </div>
</body>
